﻿@model Sesiones.Models.registerForm
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Andex</title>
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#enviar').click(sendData);
        });

        function sendData() {
            $.post("/DatosCliente/binding/",
                $("#formulario").serialize(), function (data) {
                //alert(data.NOMBRE + " " + data.APELLIDOS);               
                document.getElementById("nombre").value=data.NOMBRE;
            });
        }
    </script>
</head>
<body>
    <div>
        <form id="formulario" action="binding">
            <input type="text" id="NOMBRE" name="NOMBRE">
            <input type="text" id="APELLIDOS" name="APELLIDOS">
            <input type="button" id="enviar" value="Enviar">
            <input type="text" id="nombre" name="nombre">

        </form>
    </div>
</body>
</html>
