﻿@model Sesiones.Models.DatosCliente

@{
    Layout = null;
}
<style>
    div {
        background: #def3ca;
        margin: 3px;
        width: 80px;
        display: none;
        float: left;
        text-align: center;
    }
</style>

    <script type="text/javascript" src="@Url.Content("/Scripts/menu_m1_scr.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/menu_dom.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.8.2.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/jquery-ui-1-8-2-min.js")"></script>
<script type="text/javascript" >
   
    function EnviarDatos()
    {
        var nombre = $("#Nombre").val();
        var comentarios = $("#Comentarios").val();
        var idCliente = $("#IdCliente").val();
        var datosCliente = {
            Nombre: nombre,
            Comentarios: comentarios,
            IdCliente: idCliente

        };
    
        $.ajax
            ({
                type: "POST",                
                url: "/Datoscliente/Index",
                dataType: "json",   
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(datosCliente),  //esta línea convierte a string mi objeto datosCliente              
                success: function (datosCliente)
                {
                    document.getElementById("demo").style.color="RED";
                    
                    $('#cuerpomensaje').text(datosCliente.nombre)
                    //$('#cuerpomensaje').text(resultado.mensaje);
                    $('#mensaje').show();
                },
                error: function ()
                {
                    alert("Ocurrio un error al acceder a la informacion");
                }
            });
    }
</script>
<script>
    $("#showr").click(function(){
        $("div").first().show("fast",function showNext(){
            $(this).next("div").show("fast",showNext);
        });
    });
    $("#hidr").click(function(){
        $("div").hide(1000);
    });
</script>
  <p>Nombre</p>
 @Html.TextBoxFor(m=>m.Nombre)
  <p>Comentarios</p>
 @Html.TextAreaFor(m=>m.Comentarios)
    <div id="demo"> Clik para cambiarme de color</div>
    <!--<input type="submit" value="Enviar">-->
@Html.HiddenFor(m => m.IdCliente)
<input type="button" value="Enviar" onclick="EnviarDatos();" />

<button id="showr">Show</button>
<button id="hidr">Hide</button>
<div>HELLO</div>
<div>How</div>
<div>Are</div>
<div>You?</div>



Su nombre es:<br/>
@ViewBag.mensaje

<br/>

<button onfocus="getElementByID('demo').innerHTML=Date()">Whats IS THE TIME</button>
<p id="demo"></p>
