﻿@model IEnumerable<Sesiones.nombresTarjetasSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    @{
        var a = 0; var b = 0;
        foreach (var nombres in ViewBag.listaNombres)
        {
            
            <tr>
               <td>@a @nombres</td> <td>@ViewBag.final[a]</td> 
                
            </tr>   
            a++;
        }
        
    }
</table>


    @{
        var c=0;
        foreach (var tar in ViewBag.listaTarjetas)
        { 
        <li>@c @tar</li>
            c++;
        
        }
}
    <p>Esta es la segunda tarjetas</p> @ViewBag.listaTarjetas[1];
    <p>Esta es la tercera tarjetas</p> @ViewBag.listaTarjetas[2];
    
    

