﻿@model IEnumerable<Sesiones.PARTICIPACIONB>

@{
    ViewBag.Title = "Busqueda";
    
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Búsqueda</h2>

@using(Html.BeginForm(FormMethod.Post))
{   
    <p>Ingresa el No. de control:</p>
    <input type="text" name="control" value="@ViewBag.control" />
    <p>Buscar Area</p>
   

  
    
    
    
    <p> @Html.DropDownList("Lista","")</p>
    
    
    <input type="submit" value="Filtrar">    
}
    <h2 class="rojo"><strong> @ViewBag.mensaje</strong></h2>


<div class="pantherita">
    </div>

<table border="1">
@{

    if (Model != null)
    {
        <tr style="border:medium" class="azulrey">
            <th>
                #
            </th>
            <th>
                Nombre
            </th>
            <th>
                APPAT
            </th>      
            
            <th>
                Capa
            </th>
            <th>
                Area
            </th>
            <th>
                Puesto
            </th>
            <th>
                Grupo
            </th>
            <th>
                Supervisor
            </th>
            <th>
                Lider
            </th>
            <th>
                No.LPA
            </th>
            <!--<th>
                @*Html.DisplayNameFor(model => model.PARTICIPACION)*@
            </th>-->
            <th></th>
        </tr>


        foreach (var item in Model)
        {
        <tr  >
            <td>
                @Html.DisplayFor(modelItem => item.nocontrol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPAT)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CAPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PUESTOGENERAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRUPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPERVISOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LIDERAREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRECUENCIA)
            </td>
            <!--<td>
                @*Html.DisplayFor(modelItem => item.PARTICIPACION)*@
            </td>-->
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
         }
        }
        else
        {
            <tr><td><strong>NO SE ENCONTRARON REGISTROS</strong><td></tr>
        }
    }

    
</table>
     