﻿@model Sesiones.Models.participacionModel

@{
    ViewBag.Title = "LPA-Nuevo Registro";
    Layout = "~/Views/Shared/_Layout12.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <!-- <div class="letrero2" >
            <p>&nbsp;</p>
            
            <p>Llena todos los recuadros correctamente</p>
            </div>
        <div class="panther2">
            <img src="~/Images/panther-peak.png" />
        </div>-->
        
       
        <fieldset >            
            <legend> PARTICIPACIONB </legend>
            <h2>REGISTRO</h2>

            <div class="editor-label">
                @Html.LabelFor(model => model.nocontrol)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nocontrol)
                @Html.ValidationMessageFor(model => model.nocontrol)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NOMBRE)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NOMBRE)
                @Html.ValidationMessageFor(model => model.NOMBRE)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.APPAT)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APPAT)
                @Html.ValidationMessageFor(model => model.APPAT)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.APMAT)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.APMAT)
                @Html.ValidationMessageFor(model => model.APMAT)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CAPA)
            </div>
            <div class="editor-field">
                @Html.DropDownList("capa"," ")
              
                @*Html.DropDownListFor(model => model.CAPA, new SelectList(new string[]{ "1"}, Model.CAPA))*@
                @Html.ValidationMessageFor(model => model.CAPA)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AREA)
            </div>
            <div class="editor-field">
                @Html.DropDownList("AREA", "")
                @Html.ValidationMessageFor(model => model.AREA)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PUESTOGENERAL)
            </div>
            <div class="editor-field">
                @Html.DropDownList("PUESTOGENERAL", "")
                @Html.ValidationMessageFor(model => model.PUESTOGENERAL)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.GRUPO)
            </div>
            <div class="editor-field">
                @Html.DropDownList("GRUPO", "")
                @Html.ValidationMessageFor(model => model.GRUPO)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SUPERVISOR)
            </div>
            <div class="editor-field">
                @Html.DropDownList("SUPERVISOR", "")
                @Html.ValidationMessageFor(model => model.SUPERVISOR)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LIDERAREA)
            </div>
            <div class="editor-field">
                @Html.DropDownList("LIDERAREA", "")
                @Html.ValidationMessageFor(model => model.LIDERAREA)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FRECUENCIA)
            </div>
            <div class="editor-field">
                @Html.DropDownList("FRECUENCIA", "")
                @Html.ValidationMessageFor(model => model.FRECUENCIA)
            </div>
            <p>
                <input type="submit" value="Crear" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Regresar", "busqueda")
    </div>
</body>
</html>
