﻿@model Sesiones.PARTICIPACIONB

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout12.cshtml";
}



<h3>¿Estas seguro de eliminar este registro?</h3>
<fieldset>
    <legend>Registro</legend>

    <div class="fuerte3">
        @Html.DisplayNameFor(model => model.nocontrol):
    </div>
    <div class="rojos">
        @Html.DisplayFor(model => model.nocontrol)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.NOMBRE):
    </div>
    <div class="verdes">
        @Html.DisplayFor(model => model.NOMBRE) @Html.DisplayFor(model => model.APPAT) @Html.DisplayFor(model => model.APMAT)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.CAPA):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAPA)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.AREA):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AREA)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.PUESTOGENERAL):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PUESTOGENERAL)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.GRUPO):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GRUPO)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.SUPERVISOR):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUPERVISOR)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.LIDERAREA):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LIDERAREA)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.FRECUENCIA):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FRECUENCIA)
    </div>

  
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "busqueda")
    </p>
}
