﻿@model Sesiones.PARTICIPACIONB

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout12.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>DETALLES</h1>
    <fieldset>
        <legend>PARTICIPACIONB</legend>
    
        <div class="fuerte" >
            <strong> @Html.DisplayNameFor(model => model.nocontrol):</strong>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.nocontrol)
        </div>
    
        <div class="fuerte">
            @Html.DisplayNameFor(model => model.NOMBRE):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NOMBRE)
        </div>
    
        <div class="fuerte">
            @Html.DisplayNameFor(model => model.APPAT):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.APPAT)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.APMAT):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.APMAT)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.CAPA):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CAPA)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.AREA):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AREA)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.PUESTOGENERAL):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PUESTOGENERAL)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.GRUPO):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.GRUPO)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.SUPERVISOR):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SUPERVISOR)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.LIDERAREA):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LIDERAREA)
        </div>
    
        <div class="fuerte">
             @Html.DisplayNameFor(model => model.FRECUENCIA):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FRECUENCIA)
        </div>

        <div class="fuerte">
            @Html.DisplayNameFor(model => model.pass):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.pass)
        </div>

    
       
    </fieldset>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Regresar ", "busqueda")
    </p>
</body>
</html>
