﻿@model IEnumerable<Sesiones.PARTICIPACIONB>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nocontrol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APPAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APMAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AREA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PUESTOGENERAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRUPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUPERVISOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LIDERAREA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRECUENCIA)
            </th>
           <!-- <th>
                @*Html.DisplayNameFor(model => model.PARTICIPACION)*@
            </th>-->
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nocontrol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APMAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PUESTOGENERAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRUPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPERVISOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LIDERAREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRECUENCIA)
            </td>
            <!--<td>
                @*Html.DisplayFor(modelItem => item.PARTICIPACION)*@
            </td>-->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
