﻿@model IEnumerable<Sesiones.PARTICIPACIONB>

@{
   Layout = "~/Views/Shared/_Layoutsinmargen.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    { 
        <p>Buscar por No de control</p>
        <input type="text" name="control" value="@ViewBag.control" />
        <input type="submit" value="Filtrar">
    
    }

        <table>
            <tr>
                <th>ID</th>
                  
                <th>
                    @Html.DisplayNameFor(model => model.nocontrol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APPAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APMAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CAPA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AREA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PUESTOGENERAL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GRUPO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SUPERVISOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LIDERAREA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FRECUENCIA)
                </th>
                <!--<th>
                    @*Html.DisplayNameFor(model => model.PARTICIPACION)*@
                </th>-->
                <th></th>
            </tr>
    @{
        
        var f = 2;
    }
    @foreach (var item in Model) {
        <tr>
            <td>
                @f
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.nocontrol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APMAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PUESTOGENERAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRUPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPERVISOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LIDERAREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRECUENCIA)
            </td>
            <!--<td>
                @*Html.DisplayFor(modelItem => item.PARTICIPACION)*@
            </td>-->
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
        f++;
    }
    
    </table>
</body>
</html>
