﻿@model Sesiones.Models.areaFecha2
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">

    <h2>Bienvenido</h2>
    <br />
    <br />
    <br/>
    <img src="~/Images/ocblack.jpg" width="210" height="200" />
    <br />
    <br />
    <br />
    <br />
    <br/>
    <div>&nbsp;</div>
    <h3 class="rojo">SISTEMA DE LPA @DateTime.Now.Year</h3>
    <!--<img src="~/Images/ocblack.jpg" />-->
</div>
   

