﻿@model Sesiones.Table
@{
    ViewBag.Title = "LOGIN";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<br />
<br />
<br />
<h2>ADMINISTRADOR</h2>
<br />
<br />

@using (Html.BeginForm("Login", "Participacion", FormMethod.Post))
{
    
    //Esto es par crear un form tag
    @Html.AntiForgeryToken() //Esto es para prevenir Ataques CSRF
                            @Html.ValidationSummary(true)
    if (ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            ViewBag.Message
        </div>
    }
    <table class="amarillo2" style="text-align:center">
        <tr><td></td></tr>
        <tr>
            <td rowspan="4"><img src="~/Images/images/resizedimage.png " width="100" height="120"></td>
            <td style="font-weight:bold">Nombre de Usuario: </td>
            <td>@Html.TextBoxFor(a => a.Usuario)</td>
            <td>@Html.ValidationMessageFor(a => a.Usuario)</td>
        </tr>
        <tr>
            <td style="font-weight:bold">Contraseña: </td>
            <td>@Html.PasswordFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Ingresar">
            </td>
            <td></td>
        </tr>

    </table>

    <br />
    <br />
    <br /><br /><br />
    <br />
    <br /><br /><br/>

}


@* eSTA LINEA DE ABAJAO ES PARA CREAR SUNA SECCCION DE JAVASCIRPT*@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
