﻿@model Sesiones.Models.areaFecha2
@{
    ViewBag.Title = "modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar</h2>
<div style="text-align:center">
<img src="~/Images/images/IMA/9.png" />
    </div>
<div class="login-form">
    @using (Html.BeginForm("NuevoC", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
           
            <legend>INGRESE LOS DATOS QUE SE LE PIDEN</legend>
            <!--FECHA-->
            <br />
            <span class="letrablanca">
                @Html.LabelFor(m => m.mes)<br /></span>
            @Html.DropDownListFor(m => m.mes, new SelectList(new string[] { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" }))
            <span>|</span>
            @Html.DropDownListFor(m => m.año, new SelectList(new string[] { "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024", "2025" }))
            @Html.ValidationMessageFor(m => m.mes)
            <br /><br />
            <!--AREA-->
            <span class="letrablanca">
                @Html.LabelFor(m => m.area)</span><br />
            @Html.DropDownListFor(m => m.area, new SelectList(new string[] { "FORMING", "ROVING", "BATCH", "HORNO", "SIZING", "TECNICOS", "OTROSCOACHES", "SUPERVISORES", "EMPLEADOS", "NLT" }))

            @Html.ValidationMessageFor(m => m.area)
            <br />

            <input type="submit" value="Enviar" />
</fieldset>

    }

</div>
</div>