﻿@model IEnumerable<Sesiones.Humano>

@{
    Layout = null;
}


<link href ="~Content/site2.css" rel="stylesheet" />

<table class="amarillo" style="color:#00ff90">
    <tr><td>PARADA</td></tr>
    </table>
