﻿@model Sesiones.PARTICIPACIONB

@{
    ViewBag.Title = "UpdatePass";
    Layout = "~/Views/Shared/_LayoutCapturaLPA2.cshtml";
    var color = "";
    if (@ViewBag.mensaje == "CONTRASEÑA ANTERIOR ERRONEA")
    {
        color = "rojo3";
    }
    else { color = "verde3"; }
}

<h2>Actualizar Contraseña</h2>
<div class="@color">@ViewBag.mensaje</div>
<br />
<br/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PARTICIPACIONB</legend>

        @Html.HiddenFor(model => model.Id)

        
        <div class="editor-field">
            @*Html.EditorFor(model => model.nocontrol)*@
            <input type="hidden" name="nocontrol" value="@Model.nocontrol" readonly />
           
        </div>
        <br />
        <br/>
        <div class="editor-label">
            <span class="azulrey"> INGRESA TU CONTRASEÑA ANTERIOR</span>
</div>
        <div class="editor-field">
            @*Html.EditorFor(model => model.FRECUENCIA)*@
            <input type="password" name="FRECUENCIA">
        </div>    

        <div class="editor-label">
            <span class="azulrey">INGRESA LA NUEVA CONTRASEÑA</span>
</div>
        <div class="editor-field">
            @*Html.EditorFor(model => model.pass) *@
            <input type="password" name="pass">

            
        </div>
       
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br/>
}

<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
