﻿@model Sesiones.hallazgos2
@{
    ViewBag.Title = "gracias";
    Layout = "~/Views/Shared/_LayoutCapturaLPA2.cshtml";
}

    GRACIAS POR TU PARTICIPACIÓN DE LA TARJETA: <span class="azulrey">"@Model.codTarjeta"</span> <br />
    CON FECHA: <span class="azulrey">@DateTime.Now</span>

    <div>
        <img src="~/Images/images/IMA/4.png" />
         <h1 class="rojos">TICKET No: @Model.idHallazgo</h1>
        <br/>
        
    </div>

    <script type=""> alert("PARTICIPACIÓN CAPTURADA CON EXITO")</script>

