﻿@model Sesiones.Models.loginLPA
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCapturaLPA.cshtml";
}
<!--------------------
    LOGIN FORM
    by: JESUS
    --------------------->
<!--STYLESHEETS-->

<script type="text/javascript">
    function registro() {
        link
    }

    $(document).ready(function () {
        $(".control").focus(function () {
            $(".control-icon").css("left", "-48px");
        });
        $(".control").blur(function () {
            $(".control-icon").css("left", "0px");
        });


        $(".username").focus(function () {
            $(".user-icon").css("left", "-48px");
        });
        $(".username").blur(function () {
            $(".user-icon").css("left", "0px");
        });

        $(".password").focus(function () {
            $(".pass-icon").css("left", "-48px");
        });
        $(".password").blur(function () {
            $(".pass-icon").css("left", "0px");
        });
    });


</script>


<!--WRAPPER-->
<div>
    <br />
    <br />
   
    
    <span>@ViewBag.mensaje </span>

    <!--SLIDE-IN ICONS-->
    <!--END SLIDE-IN ICONS-->
    <!--LOGIN FORM-->
    <form name="login-form" class="login-form" method="POST">

        <!--HEADER-->
        <div class="header">
            <!--TITLE-->
            <!--END TITLE-->
            <!--DESCRIPTION-->
            <span class="letrablanca">Ingresar No. de Control y contraseña para poder realizar tu LPA</span>
        </div>
        <!--END HEADER-->
        <!--CONTENT-->
        <div class="content">
            <!--No.control--><input name="control" type="text" class="input control" required placeholder="Número de Control" onfocus="this.value=''" /><!--No.Control-->
            <!--USERNAME<input name="usuario" type="text" class="input username" required placeholder="Nombre de Usuario" onfocus="this.value=''" /><!--END USERNAME-->
            <!--PASSWORD--><input name="password" type="password" class="input password" required placeholder="Contraseña" onfocus="this.value=''" /><!--END PASSWORD-->
        </div>


        <!--FOOTER-->
        <div class="footer">
            <!-- FECHA--><input type="hidden" name="fecha" value=">" />
            <!--LOGIN BUTTON--><input type="submit" name="submit" value="Ingresar" class="button" /><!--END LOGIN BUTTON-->
            <!--<a href="Usuarios/ALTA.php"><input name="button" type="button" class="register" formaction="Usuarios/ALTAS.php" value="Registro" /> </a>-->

            <!--END REGISTER BUTTON-->
        </div>
        <!--END FOOTER-->
        

    </form>
    <br />
 
   
    <!--END LOGIN FORM-->

</div>
<!--END WRAPPER-->
<!--GRADIENT--><div class="panther1"></div>

<!--END GRADIENT-->
