﻿@model Sesiones.Models.loginLPA

@{
    ViewBag.Title = "InicioLPA";
    Layout = "~/Views/Shared/_LayoutCapturaLPA2.cshtml";
}
<div class="content-wrapper3">
    <div>&nbsp;</div>

<h2>BIENVENIDO(A)  </h2><br/><strong>NoControl: @Session["NOCONTROL"]</strong> <div class="fuerte3">@Session["nombreUsuario"] @Session["APPAT"]  @Session["APMAT"],
te toca realizar la(s) lpa(s) :</div>
<br />

@{
   
    string lpa1 = @ViewBag.LPA1;
    string lpa2 = @ViewBag.LPA2;
    string lpa3 = @ViewBag.LPA3;
    string lpa4 = @ViewBag.LPA4;
    string lpa5 = @ViewBag.LPA5;
    string lpa6 = @ViewBag.LPA6;
    string lpa7 = @ViewBag.LPA7;
    string lpa8 = @ViewBag.LPA8;
}
<div class="fuerte3">
    @if (lpa1 != null && lpa1 != "FDFAS" && lpa1 !="FDFAE" && lpa1!="3d4r9"){
    <img src="~/Images/orderedList1.png" />@lpa1  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa1, eda = "1" }) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa1,eda="1" })</span>}
    @if (lpa1 == "FDFAS"){<img src="~/Images/orderedList1.png" /><span class="azulrey">Aun no esta disponible esta auditoría</span>}
    @if (lpa1 == "FDFAE"){<img src="~/Images/orderedList1.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa1 == "3d4r9"){<img src="~/Images/orderedList1.png" /><span class="rojos">Auditoria realizada</span>}<br />

    @if (lpa2 != null && lpa2 != "FDFAS" && lpa2 != "FDFAE" && lpa2 != "3d4r9")
    {
        <img src="~/Images/orderedList2.png" />@lpa2  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa2 , eda = "2"}) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa2 ,eda="2" })</span>}
    @if (lpa2 == "FDFAS")
    {<img src="~/Images/orderedList2.png" /><span class="azul">Aun no esta disponible esta auditoría</span>}
    @if (lpa2 == "FDFAE")
    {<img src="~/Images/orderedList2.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa2 == "3d4r9")
    {<img src="~/Images/orderedList2.png" /><span class="verde">Auditoria realizada</span>}<br />



    @if (lpa3 != null && lpa3 != "FDFAS" && lpa3 != "FDFAE" && lpa3 != "3d4r9")
    {
        <img src="~/Images/orderedList3.png" />@lpa3  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa3 , eda = "3"}) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa3 ,eda="3" })</span>}
    @if (lpa3 == "FDFAS")
    {<img src="~/Images/orderedList3.png" /><span class="azul">Aun no esta disponible esta auditoría</span>}
    @if (lpa3 == "FDFAE")
    {<img src="~/Images/orderedList3.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa3 == "3d4r9")
    {<img src="~/Images/orderedList3.png" /><span class="verde">Auditoria realizada</span>}<br />


    @if (lpa4 != null && lpa4 != "FDFAS" && lpa4 != "FDFAE" && lpa4 != "3d4r9")
    {
        <img src="~/Images/orderedList4.png" />@lpa4  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa4 , eda = "4"}) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa4 ,eda="4" })</span>}
    @if (lpa4 == "FDFAS")
    {<img src="~/Images/orderedList4.png" /><span class="azul">Aun no esta disponible esta auditoría</span>}
    @if (lpa4 == "FDFAE")
    {<img src="~/Images/orderedList4.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa4== "3d4r9")
    {<img src="~/Images/orderedList4.png" /><span class="verde">Auditoria realizada</span>}<br />



    @if (lpa5 != null && lpa5 != "FDFAS" && lpa5 != "FDFAE" && lpa5 != "3d4r9")
    {
        <img src="~/Images/orderedList5.png" />@lpa5  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa5 , eda = "5"}) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa5 ,eda="5" })</span>}
    @if (lpa5 == "FDFAS")
    {<img src="~/Images/orderedList5.png" /><span class="azul">Aun no esta disponible esta auditoría</span>}
    @if (lpa5 == "FDFAE")
    {<img src="~/Images/orderedList5.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa5 == "3d4r9")
    {<img src="~/Images/orderedList5.png" /><span class="verde">Auditoria realizada</span>}<br />

    @if (lpa6 != null && lpa6 != "FDFAS" && lpa6 != "FDFAE" && lpa6 != "3d4r9")
    {
        <img src="~/Images/orderedList6.png" />@lpa6  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa6 , eda = "6"}) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa6 ,eda="6" })</span>}
    @if (lpa6 == "FDFAS")
    {<img src="~/Images/orderedList6.png" /><span class="azul">Aun no esta disponible esta auditoría</span>}
    @if (lpa6 == "FDFAE")
    {<img src="~/Images/orderedList6.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa6 == "3d4r9")
    {<img src="~/Images/orderedList6.png" /><span class="verde">Auditoria realizada</span>}<br />


    @if (lpa7 != null && lpa7 != "FDFAS" && lpa7 != "FDFAE" && lpa7 != "3d4r9")
    {
        <img src="~/Images/orderedList7.png" />@lpa7  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa7 , eda = "7"}) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa7 ,eda="7" })</span>}
    @if (lpa7 == "FDFAS")
    {<img src="~/Images/orderedList7.png" /><span class="azul">Aun no esta disponible esta auditoría</span>}
    @if (lpa7 == "FDFAE")
    {<img src="~/Images/orderedList7.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa7 == "3d4r9")
    {<img src="~/Images/orderedList7.png" /><span class="verde">Auditoria realizada</span>}<br />


    @if (lpa8 != null && lpa8 != "FDFAS" && lpa8 != "FDFAE" && lpa8 != "3d4r9")
    {
        <img src="~/Images/orderedList8.png" />@lpa8  <span class="rojos"> |</span>     <span class="rojos">@Html.ActionLink("SIN DESVIACIÓN", "muestraTabla2", new { target = lpa8 , eda = "8"}) |</span> <span class="verde"> @Html.ActionLink("CON DESVIACIÓN", "muestraTabla", new { target = lpa8 ,eda="8" })</span>}
    @if (lpa8 == "FDFAS")
    {<img src="~/Images/orderedList8.png" /><span class="azul">Aun no esta disponible esta auditoría</span>}
    @if (lpa8 == "FDFAE")
    {<img src="~/Images/orderedList8.png" /><span class="rojos">Ha superado la fecha límite para realizar esta auditoría</span>}
    @if (lpa8 == "3d4r9")
    {<img src="~/Images/orderedList8.png" /><span class="verde">Auditoria realizada</span>}<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br/>
</div>
    </div>
    <br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />

<aside >

<div class="cambiarcontrasena">
    <span class="rojos">@Html.ActionLink("Cambiar Contraseña", "cambiarPassword")</span>
</div>
</aside>
