﻿@model Sesiones.Models.HallazgosModel
<script language="javascript" type="text/javascript">
    $(function () {
        $('#enviar').click(sendData);
    });
    var clic = 1;
    function sendData() {
        $.post("/DatosCliente/binding/",
            $("#participacion").serialize(), function (data) {
                //alert(data.NOMBRE + " " + data.APELLIDOS);
                document.getElementById("nomAuditado").value = data.nomAuditado;
                if (clic == 1) {
                    document.getElementById("nomAuditado").style.height = "30px";
                    clic = clic + 1;
                } else {
                    document.getElementById("nomAuditado").style.heigth = "0px";
                    clic = 1;
                }
            });
    }
</script>

@{
    ViewBag.Title = "muestraTabla";
    Layout = "~/Views/Shared/_LayoutCapturaLPA2.cshtml";
//PARTICIPACION
}

<h2>Desviación de Tarjeta @ViewBag.tarjeta</h2>

<fieldset>
    @using (Html.BeginForm("CrearHallazgo", "LPA", FormMethod.Post, new { id="participacion"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <legend>HallazgosModel</legend>

        <div class="editor-field">
            @*Html.EditorFor(model => model.codTarjeta)*@
            @*Html.ValidationMessageFor(model => model.codTarjeta)*@
            <input type="hidden" value="@Session["NOCONTROL"]" name="nocontrol">

        </div>

        <div class="editor-field">
            <input type="text" value="@Session["nombreauditor"]" name="nomAuditor" readonly>
        </div>

       
        <div class="editor-field">
            <span class="fuerte">Posición: </span>
                @Html.DropDownList("posicion", "Elige la posición...")
                @Html.ValidationMessageFor(model => model.posicion)
           <br/>
            @Html.ValidationMessageFor(model => model.posicion)
            <br />

        </div>


        <div class="editor-field">
            <input type="hidden" value="@ViewBag.areatarjeta" name="area">
        </div>
        <div class="editor-field">
            <span class="fuerte">Número de control del Auditado: </span><br/>
            @Html.EditorFor(model => model.nocontrolAuditado)   
            <input type="button" id="enviar" value="Comprobar">
                     
        </div>
        <div class="fuerte" id="auditado">
            Nombre Auditado:
        </div>
        <div class="editor-field">
            <input type="text" id="nomAuditado" name="nomAuditado" readonly required>
            
            @*Html.EditorFor(model => model.nomAuditado)*@
            @Html.ValidationMessageFor(model => model.nomAuditado)
        </div>
        
        <div class="editor-label">
            <span class="fuerte">
                Supervisor:</span>
                @Html.DropDownList("nomSupervisor", "Selecciona al Supervisor...")
                @Html.ValidationMessageFor(model => model.nomSupervisor)
         </div>
        <br/>
        <div class="editor-field">
            @*Html.EditorFor(model => model.codTarjeta)*@
            @*Html.ValidationMessageFor(model => model.codTarjeta)*@
            <input type="hidden" value="@ViewBag.tarjeta" name="codTarjeta">

        </div>
      <div class="editor-field">
            <input type="hidden"value="@ViewBag.quelpaes" name="quelpaes">
        </div>

        <div class="editor-field">
            <input type="hidden" value="@Session["FECHA"]" name="fecha">

            @*Html.ValidationMessageFor(model => model.fecha)*@
        </div>
        <div class="editor-label">
           <span class="fuerte"> Comentarios</span>
        </div>

        <div class="editor-field">
            @Html.TextAreaFor(model => model.comentarios)
            @Html.ValidationMessageFor(model => model.comentarios)
        </div>



        <p>
            <input type="submit" value="Registrar PARTICIPACION" />
        </p>
    }

</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
