﻿@{
    ViewBag.Title = "nosecambiopassword";
    Layout = "~/Views/Shared/_LayoutCapturaLPA2.cshtml";
}

<h2>Las Contraseñas ingresadas no coinciden o son erroneas</h2>



<script>alert("Cambio de Contraseña fallido") </script>