﻿@model Sesiones.PARTICIPACIONB

@{
    ViewBag.Title = "UpdatePass";
    Layout = "~/Views/Shared/_LayoutCapturaLPA2.cshtml";
}

<h2>UpdatePass</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PARTICIPACIONB</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.nocontrol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nocontrol)
            @Html.ValidationMessageFor(model => model.nocontrol)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NOMBRE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NOMBRE)
            @Html.ValidationMessageFor(model => model.NOMBRE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APPAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APPAT)
            @Html.ValidationMessageFor(model => model.APPAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APMAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APMAT)
            @Html.ValidationMessageFor(model => model.APMAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CAPA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CAPA)
            @Html.ValidationMessageFor(model => model.CAPA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AREA)
            @Html.ValidationMessageFor(model => model.AREA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PUESTOGENERAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PUESTOGENERAL)
            @Html.ValidationMessageFor(model => model.PUESTOGENERAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRUPO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRUPO)
            @Html.ValidationMessageFor(model => model.GRUPO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPERVISOR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPERVISOR)
            @Html.ValidationMessageFor(model => model.SUPERVISOR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LIDERAREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LIDERAREA)
            @Html.ValidationMessageFor(model => model.LIDERAREA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FRECUENCIA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FRECUENCIA)
            @Html.ValidationMessageFor(model => model.FRECUENCIA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pass)
            @Html.ValidationMessageFor(model => model.pass)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
