﻿@model IEnumerable<Sesiones.Calendario>

@{
    ViewBag.Title = "CalendarioPDF";
    Layout = "~/Views/Shared/estilos.cshtml"; 
}

<h2>CalendarioPDF</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa8)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lpa8)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
