﻿@model IEnumerable<Sesiones.CalendarioBatch>

@{
    ViewBag.Title = "CalendarioFormingPDF";
    Layout = "~/Views/Shared/estilos.cshtml";
    //Todas las tarjetas del area

}
<!--El número de registros de tarjetas asignables es: @*ViewBag.GENERAL*@-->
<!--Suma DE FRECUENCIAS= @*ViewBag.sumaFrecuencias*@-->
<!--ultima area=@*ViewBag.ultimaAREA*@-->
<!--ultima tarjeta=@*ViewBag.ultimaTARJETA*@-->
<!--ultima ID=@*ViewBag.ultimaIDTARJETA*@-->


<table class="letra">


    @{
        var ML = ViewBag.mesLetras2;

        string color = "";
        var area = ViewBag.area;


        var a = 0;
        var i = 0;
        /*string[] tarjetas = ViewBag.Tarjetas;//Todas las tarjetas del area*/



        //foreach de pruebas
        var listaG = ViewBag.participacionGeneral;
        string fecha;
        string fecha2;
        string fecha3;
        string fecha4;

        var titulo = 0;
        var modulo = 22;
        var cal = ViewBag.calendario;
        foreach (var r in cal)
        {
            titulo = a;
            string letraNombre1 = "";
            string letralpauno = "";
            string letracontroluno = "";

            if (ViewBag.area == "BATCH" || ViewBag.area == "HORNO" || ViewBag.area == "SIZING")
            {
                letraNombre1 = "letraNombreHBS";
                letralpauno = "letralpaHBS";
                letracontroluno = "letralpaHBS";
            }

            else if (ViewBag.area == "SUPERVISORES")
            {
                letraNombre1 = "letraNombreSUP";
                letralpauno = "letralpaSUP";
                letracontroluno = "letralpaSUP";
            }
            else
            {
                letraNombre1 = "letraNombre1";
                letralpauno = "letralpauno";
                letracontroluno = "letralpauno";
            }

            if (titulo % 27 == 0)
            {
                //<tr><td><h4>Calendario @area  </h4></td></tr>
                <tr><td colspan="6" class="titulo"><strong>CALENDARIO @area @ViewBag.mesLetras @ViewBag.Año</strong></td></tr>
                <tr class="tituloColumna">
                    <!-- <th>
                         ID
                     </th>-->
                    <td id="@letracontroluno">
                        #
                    </td>
                    <td id="@letraNombre1">
                        NOMBRE
                    </td>
                    <td id="@letralpauno">
                        LPA1
                    </td>
                    <td id="@letralpauno">
                        LPA2
                    </td>
                    <td id="@letralpauno">
                        LPA3
                    </td>
                    <td id="@letralpauno">
                        LPA4
                    </td>
                    @if (ViewBag.area == "SUPERVISORES")
                    {
                        <td id="@letralpauno">
                            LPA5
                        </td>
                        <td id="@letralpauno">
                            LPA6
                        </td>
                        <td id="@letralpauno">
                            LPA7
                        </td>
                        <td id="@letralpauno">
                            LPA8
                        </td>
                    }


                </tr>
            }

            var ML2 = ViewBag.mesLetras2;
            var ML3 = ViewBag.mesLetras2;
            var ML4 = ViewBag.mesLetras2;

            if (a % 2 == 0)
            { color = "negro"; }
            else
            {
                color = "dos";
            }


            <tr style="border:1px">

                <td id="@letracontroluno" class="@color">
                    @r.nocontrol
                </td>
                <td id="@letraNombre1" class="@color">
                    @r.nombre
                </td>
                <td id="@letralpauno" class="@color">
                    @r.lpa1
                    <br />fecha: @r.fechalpa1
                    @ViewBag.mesLetras2 <br /> @r.arealpa1
                </td>
                @{
            //Esto es para comprobar si hay registro o no, si lo hay imprime fecha en el arreglo(antes de fechas)
            if (r.lpa2 != " ")
            {
                fecha2 = "fecha:";

            }
            else
            {

                fecha2 = " ";
                ML2 = " ";
            }

            if (r.lpa3 != " ")
            {
                fecha3 = "fecha:";
            }
            else
            {
                fecha3 = " ";
                ML3 = " ";
            }
            if (r.lpa4 != " ")
            {
                fecha4 = "fecha:";
            }
            else
            {

                fecha4 = " ";
                ML4 = " ";
            }

                }

                <td id="@letralpauno" class="@color">
                    @r.lpa2<br />@fecha2 @r.fechalpa2 @ML2 <br /> @r.arealpa2
                </td>

                <td id="@letralpauno" class="@color">
                    @r.lpa3
                    <br />@fecha3 @r.fechalpa3
                    @ML3 <br /> @r.arealpa3
                </td>

                <td id="@letralpauno" class="@color">
                    @r.lpa4
                    <br />@fecha4
                    @r.fechalpa4
                    @ML4 <br />
                    @r.arealpa4
                </td>

            </tr>

            a++;
        }

    }

</table>


@{

    @*fechas*@
}
<!--Muestra el listado completo de las tarjetas de cada area seleccionada-->
