﻿@model Sesiones.listaHallazgo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Crear nueva desviación</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>listaHallazgo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESVIACION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESVIACION)
            @Html.ValidationMessageFor(model => model.DESVIACION)
        </div>

       

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
