﻿@model Sesiones.listaHallazgo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de querer eliminar esta desviación?</h3>
<fieldset>
    <legend>listaHallazgo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESVIACION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESVIACION)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
