﻿@model Sesiones.listaHallazgo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Detalles</h2>

<fieldset>
    <legend>listaHallazgo</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESVIACION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESVIACION)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
