﻿@model Sesiones.listaHallazgo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>listaHallazgo</legend>

        @Html.HiddenFor(model => model.Id)
        <div>
        @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>
        

            <div class="editor-label">
                @Html.LabelFor(model => model.DESVIACION)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DESVIACION)
                @Html.ValidationMessageFor(model => model.DESVIACION)
            </div>
<p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
