﻿@model IEnumerable<Sesiones.listaHallazgo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout12.cshtml";    
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Desviación", "Create")
</p>
<table>
    <tr class="tituloColumna">
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESVIACION)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESVIACION)
        </td>
      
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
