﻿td {
    text-align:center;
}
tr {
    page-break-inside:avoid;
}
/*Menu sistema de LPA*/
/* e31d1a*/
.menu2 {
    background:#FF0000;
    opacity:1;
    font-size:30px;
    font-family:Arial ;
    height:40px;
    color:#fff; 
	margin:0 auto;
    z-index:100;
    transition:height 1s;
    text-align:center;
 
}

.menu3 {
    opacity: 1;
    z-index: 100;
    transition: height 1s;
    text-align: center;
}
.myoc{
    background:#fff; 
   
    color:#fff; 
	margin:0 auto;
    width:100%;
    
    text-align:left;
}
.fixed {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	opacity:0.9;
	filter: alpha(opacity=10);/* <-- Internet Explorer */
}
.menu2:hover{
	/*opacity:1.0;*/
    transition:height 4s;
}




body {
	
	
	/*color:#0000FF;*/

	
}
/*todas las areas exceptop HBS Y SUPERVISORES*/
#letracontroluno {
    font-size:17.5px;
    width:150px;
   
}

#letraNombre1 {
    font-size:17.5px;
    width:300px;
   
}
#letralpauno {
    font-size:17.5px;
    width:160px;
}
/*HBS */
#letracontrolHBS {
    font-size:27px;
    width:250px;
   
}

#letraNombreHBS {
    font-size:22px;
    width:400px;
   
}
#letralpaHBS {
    font-size:22px;
    width:260px;
}


/* SUPERVISORES*/
#letracontrolSUP {
    font-size:12px;
    width:150px;
   
}

#letraNombreSUP {
    font-size:14px;
    width:300px;
   
}
#letralpaSUP {
    font-size:14px;
    width:160px;
}

.tituloColumna {
    
    
    color:#fff;
    font-weight:bold;
    background:#000000;
    
    
}
.titulo{
    
    
    color:#ff0000;
    font-weight:bold;
    font-size:x-large;
    
    
}
.table2 
{

    
}
.negro
 {  
   
    color:#333333;
    border-color:#090909;
    border-width:medium;
    background:#CCCCCC;      
 }

.dos
 {  
   
    color:#0c0c0c;
    border-color:#090909;
    border-width:medium;
    background:#fff;      
 }

.color11 {

  color:#FFFF7F;       
}

.content-wrapperTOP {
    /*margin:0 auto;*/
    margin-right:10%;
    height:30px;
    color:#fff;
    z-index:100;
    max-width: 90%;
    opacity:1;
   /*background-color:#968C83;*/
   background-color:#000000;
}
.content-wrapperTOP2 {
    /*margin:0 auto;*/
    height:35px;
    color:#fff;
    font-weight:bold;
    font-size:20px;
    z-index:100;
    max-width: 100%;
    opacity:.8;

   /*background-color:#968C83;*/
   background-color:#505050; 
}


.content-wrapperTOP2 a, .content-wrapperTOP2 a:hover, .content-wrapperTOP2 a:active {
    background: none;
    color: #FFF;
    outline: none;
    text-decoration: none;
}
   




.content-wrapper3 {
    /*margin:0 auto;*/
    margin-left:10%;
    z-index:100;
    max-width: 80%;
   /*background-color:#968C83;*/
   background-color:#E2E2E2;
 
}
.content-wrapper6 {
    /*margin:0 auto;*/
    margin-left:10%;
    z-index:100;
    max-width: 80%;
   /*background-color:#968C83;*/
   background-color:#E2E2E2;
 
}
.content-wrapper62 {
    margin:0 auto;
    /*margin-left:0%;*/
    z-index:100;
    max-width: 78%;
    /*max-height: 90%;*/
    height:500px;

   /*background-color:#968C83;*/
   background-color:#E2E2E2;
 
}


.content-wrapper4 {
    margin-left:10%;
    /*margin:0 auto;*/
    /*z-index:100;*/
    max-width: 80%;
   background-color:#fff;
}
.content-wrapper41 {
    /*margin-left:10%;*/
    margin:0 auto;
    /*z-index:100;*/
    max-width: 88%;
   background-color:#fff;
}
.content-wrapper7 {
    /*margin-left:14%;*/
    margin:0 auto;
    /*z-index:100;*/
    text-align:center;
    max-width: 90%;
   background-color:#fff;
}

.content-wrapper5 {
    
    /*margin:0 auto;*/
    /*z-index:100;*/
    max-width: 100%;
   background-color:#fff;
}
.content-wrapper8 {
    
    /*margin:0 auto;*/
    /*z-index:100;*/
    margin-left:20%;
    max-width: 100%;
   background-color:#fff;
}
.content-wrapper81 {
    
    /*margin:0 auto;*/
    /*z-index:100;*/
    margin-left:2%;
   max-width:80%;
   background-color:#E2E2E2;
}

/*
table.table tr th {
    padding:5px;
}
table, tr, td, th, tbody, thead, tfoot {

    page-break-inside:auto !important;
}
    table:first-child {
        page-break-inside:auto !important;
    }*/

/*CALENDARIOS*/


.CALENDARIOS {
    background:#d77466;
    font-size:17px;
    text-align:center;
    width:100px;
    height:50px;
    border:double;
    color:#000000;
    font-weight:bold;
   
  /*  border-radius:10px;*/
   /*border-top-left-radius:10px;*/

}
    .CALENDARIOS th {
        font-size:18px;
        font-weight:bold;
        color:#fff;
        background:#513434;
        text-align:center;

    }
    .CALENDARIOS a {
      
        color:#1b3cd9;
    }
.fondoCOLOR {
    background:#CCCCCC;
}