﻿
/*******************
FONTS
*******************/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


/* ajax boton y caja de resultado */
#enviar {
    
    background: orange;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    /*box-shadow: 0px 0px 1px #000;*/
    display: inline-block;
    }
    #enviar:hover{
      opacity:.8;
    }
#enviar2 {
    
    background: orange;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    /*box-shadow: 0px 0px 1px #000;*/
    display: inline-block;
    }
    #enviar:hover{
      opacity:.8;
    }

    #nomAuditado         
    {
        width:400px;
        /*margin:auto;*/
        height:0px;
        /*background:#000;*/
       /* box-shadow:10px 10px 3px #D8D8D8;*/
        transition:height 1s;
    }
    #falla       
    {
        width:700px;
        /*margin:auto;*/
        height:0px;
        /*background:#000;*/
       /* box-shadow:10px 10px 3px #D8D8D8;*/
        transition:height 1s;
    }

/*******************
SELECTION STYLING
*******************/

.myoc {
    color:#fff;
    width:80%;
    height:30%;
   
    background-color:#ED1B2E;
	font-size:18px;
    text-align:center;


}

.table2 
{
    
    border-radius:10px;
    
}
.negro
 {  
   
    color:#333333;
    border-color:#090909;
    border-width:medium;
    background:#CCCCCC;      
 }

.dos
 {  
   
    color:#0c0c0c;
    border-color:#090909;
    border-width:medium;
    background:#fff;      
 }

.color11 {

  color:#FFFF7F;       
}

span{
	
	}
::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}
.rojo{

	color:#E50E12;
	font-size:36px;
    text-align:center;
	}
.rojo3{

    width:320px;
	color:rgb(0, 0, 0);
	
    background-color:#f99fc9;
	font-size:18px;
    text-align:left;
	}
.verde3{

    width:320px;
	color:rgb(0, 0, 0);
    background-color:#28eb19;
	font-size:18px;
    text-align:left;
	}

.amarillo{
	color:#FFFF00;
    background-color:#000000;
    text-align:center;

	}	
.amarillo2{
	/*color:#00AAFF;*/
	color:rgba(0,0,0,0.5);
   
    text-align:center;
    border-radius:10px;
    background-color:#f676b2;
    /*background-image: url("../images/images/IMA/18.png"); */
   /*background-image:url("../images/bullet.png");*/

	 
	
    background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
	background-image: -webkit-radial-gradient(30% 30%, 10% 10%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -moz-radial-gradient(30% 0%, 30% 30%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -ms-radial-gradient(30% 30%, 0% 30%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -o-radial-gradient(30% 30%, 0% 30%, rgba(213,246,255,1), rgba(213,246,255,0));

	}	
.verde{
	color:#59c815;
    font-weight:bold;
	border-right-color:#2FE1B2;
	}	
.azul{
	color:#00AAFF;
        

	}
.naranja{
	color:#E7B72A;
	}
.rosa {
	color:#FFD4FF;
	}
.blanco {
	color:#FFFFFF;
	}
.fuerte {
    font-size:medium;
    font-weight:bold;
    color:#1b37e0;
}

.letrablanca {
    font-size:medium;
    font-weight:bold;
    color:#fff;
}
.verdes {
  
    color:#13ca2d;
    font-weight:bold;
    font-size:22px;
}
.rojos {
  
    color:#e20707;
    font-weight:bold;
    
}
.tituloColumna {
    
    
    color:#fff;
    font-weight:bold;
    background:#000000;
    
    
}
.azulrey{
    color:#1f399d;
}
.fuerte3 {
       
    color:#370d0d;
    font-weight:bold;
}
.sistemalpa {
    font-size:40px;
    color:#f30c0c;
    background-color:rgba(213,246,255,0);
    font-weight:bold;
}
.fondoBlanco {
    background-color:#fff;
}
h2 {
    font-weight:bold;
}
#rojo2{
		color:#E50E12;
	}
.pantherita{
	width: 60px;
	height: 60px;
	position: absolute;
    opacity:.1;
	left: 40%;
	top: 10%;
    transform-style:preserve-3d;
    color-interpolation-filters:sRGB;
	margin-left: -200px;
	margin-top: 200px;
	
	}
.fecha{
	width: 200px;
	height: 200px;
	position: absolute;
    color:#00AAFF;
	left: 72%;
	top: 3%;    
	}
.cambiarcontrasena{
	width: 200px;
	height: 200px;
	position: absolute;
    color:#fff;
	left: 72%;
	top: 16%;    
	}
.logout {
    width: 200px;
	height: 20px;
	position: absolute;
   /*background-color:aqua;*/
   /*background-image:url("../images/bullet.png");*/
	left: 72%;
	top: 13%; 
    color:#fff;
}
/*******************
BODY STYLING
*******************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(../images/images/IMA/.png);
	font-family: Arial;
	/*color:#0000FF;*/
	font-weight: 300;
	text-align: left;
	text-decoration: none;
	margin-left: 0px;
}

#wrapper {
	/* Center wrapper perfectly */

}

.panther1{
	/*	position:absolute;
	right: 41%;
	margin-top: 20px;*/
	width: 219px;
	height: 136px;
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: -113px;
	margin-top: -103.32px;
	}
.panther2{
	/*	position:absolute;
	right: 41%;
	margin-top: 20px;*/
	width: 200px;
	height: 116px;
	position: absolute;
	top: 150px;
	left: 11%;
	margin-left: -113px;
	margin-top: -53.32px;
	}
.letrero2{
	/*	position:absolute;
	right: 41%;
	margin-top: 20px;*/
    background-color:#f1d373;
	width: 230px;
	height: 136px;
	position: absolute;
	top: 250px;
	left: 11%;
	margin-left: -113px;
	margin-top: -53.32px;
    text-align:center;
    color:chocolate;
    font-size:25px;
    font-weight:bold;
	}

.pantherLPA{
	/*	position:absolute;
	right: 41%;
	margin-top: 20px;*/
	width: 200px;
	height: 56px;
	position: absolute;
	top: 102px;
	left: 20%;
	
	}


.letrero{
	/*	position:absolute;
	right: 41%;
	margin-top: 20px;*/
    background-color:#f1d373;
	width: 219px;
	height: 136px;
	position: absolute;
	top: 40%;
	left: 60%;
	margin-left: -113px;
	margin-top: -103.32px;
    text-align:center;
    color:chocolate;
    font-size:25px;
    font-weight:bold;
	}



.gradient {
	/* Center Positioning */
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	/* Fallback */ 
	background-image: url(../images/images/gradient.png); 
	background-repeat: no-repeat; 
	
	/* CSS3 Gradient */
	background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
	background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

/*******************
LOGIN FORM
*******************/

.login-form {
	width: 350px;
	margin:0 auto;/*Aqui he cambiado el formato del login*/
	position: relative;
	z-index:5;
	
	/*background: #56c2e1;*/
	/*background: #ED1B2E;*/
	/*background: #f676b2;*/
    /*background:#A20067;*/
    background:#512F2E;
    
	border: 1px solid #fff;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
	/*font-family: 'Bree Serif', serif;*/
	font-weight: 300;
	font-size: 28px;
	
	color: #FFF;
	/*text-shadow: 1px 1px 0 rgba(256,256,256,1.0);*/
	margin-bottom: 10px;
}

.login-form .header p {
	font-size: 19px;
	/*line-height: 16px;*/
	color: #fff;
/*	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);*/
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
	
}

/* Input field */
.login-form .content .input {
	width: 208px;

	padding: 15px 25px;
	
	font-family: Arial
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	/*text-shadow: 1px 1px 0 rgba(256,256,256,1.0);*/
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon ,.control-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.control-icon {
	top:147px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(../images/IMA/1.png) no-repeat center;	
}

.user-icon {
	top:197px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(../Images/images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:270px;
	background: rgba(65,72,72,0.75) url(../Images/images/pass-icon.png) no-repeat center;
}

/* Animation */
.input, .user-icon,.control-icon, .pass-icon, .button, .register {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}


/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 10px 10px 10px 100px; /*abajo,right,up,left*/
   
	overflow: auto;
	
	background: #999999;/*Color de abajo de login*/
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
	float:inherit;
	padding: 11px 25px;
	
	font-family: Arial;
	font-weight:bold;
	font-size: 18px;
	color: #000000;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #FF99FF;/*COLOR DE BOTON SUBMIT DE FOOTER*/
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
	background: #FF00FF;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
	position: relative;
	
	background: #FF00FF;
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	/*display: block;*/
	float: right;
	padding: 11px 25px;
	margin-right: 20px;

		
	background: #CCCCCC;
	border: 1px solid #46b3d3;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	
	font-family: Arial;
	font-weight: 300;
	font-size: 14px;
/*	color: #414848; */
	border-radius: 5px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
	
}
	.error{
		font-size:18px;
		margin-left:22px;
		color:#FF2A7F;}
	
