﻿@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Andex</title>
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#enviar').click(sendData);
        });

        function sendData() {
            $.post("/DatosCliente/Andex/",$("#formulario").serialize(),function(data){
                alert(data);
                });
        }
    </script>
</head>
<body>
    <div>
        <form id="formulario">
            <input type="text" id="NOMBRE" name="NOMBRE">
            <input type="text" id="APELLIDOS" name="APELLIDOS">
            <input type="button" id="enviar" value="Enviar">
        </form>
    </div>
</body>
</html>
