﻿@model Sesiones.CalendarioSupervisor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout12.cshtml";
    
}

<h2>Details</h2>

<fieldset>
    <legend>CalendarioSupervisor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mesLPA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mesLPA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.añoLPA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.añoLPA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nocontrol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nocontrol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParticipacionTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipacionTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PorcentajeParticipacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PorcentajeParticipacion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
