﻿@model Sesiones.Table

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de querer eliminar a este administrador?</h3>
<fieldset>
    <legend>Table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreCompleto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCompleto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a lista", "Index")
    </p>
}
