﻿@model Sesiones.Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Detalles del administrador</h2>

<fieldset>
    <legend>Table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreCompleto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCompleto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
