﻿@model Sesiones.Table

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Editar administrador</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend> </legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreCompleto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreCompleto)
            @Html.ValidationMessageFor(model => model.NombreCompleto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario)
            @Html.ValidationMessageFor(model => model.Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
