﻿@model IEnumerable<Sesiones.nombresTarjetasSet>

@{
    ViewBag.Title = "busquedatarjeta";
    Layout = "~/Views/Shared/_Layout13.cshtml";
}
<h2>Busqueda</h2>
<p>Ingresa el nombre de tarjeta:
    </p>
<img src="~/Images/images/IMA/11.png" width="40" height="40" class="amarillo"/>
@using (Html.BeginForm(FormMethod.Post))
{ 
    <input type="text" name="tarjeta" value="@ViewBag.tarjeta">
    <input type="submit" value="Buscar">
}

<div class="pantherita">    
</div>

<table>
    @{
        if (Model != null)
        {

            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Area
                </th>
                <th>
                    Nave
                </th>
                <!--<th>
                    @*Html.DisplayNameFor(model => model.otro)*@
                </th>
                <th>
                    @*Html.DisplayNameFor(model => model.incremento)*@
                </th>-->
                <th></th>
            </tr>

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idTarjeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreTarjetaSet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nave)
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Editar", new {  id=item.idTarjeta  }) |
                        @Html.ActionLink("Detalles", "Detalles", new { id = item.idTarjeta }) |
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idTarjeta })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td><strong>NO SE ENCONTRARON REGISTROS</strong><td></tr>
        }
    }
</table>
