﻿@model Sesiones.Models.tarjetaModel

@{
    ViewBag.Title = "Create";
     Layout = "~/Views/Shared/_Layout13.cshtml";
}

<h2>Registrar nueva Tarjeta</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="letrero" >
            <p>&nbsp;</p>
            
            <p>Llena todos los recuadros correctamente</p>
            </div>
    <fieldset>
        <legend>nombresTarjetasSet</legend>


        <div class="editor-label">
            Nombre de Tarjeta
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreTarjetaSet)
            @Html.ValidationMessageFor(model => model.nombreTarjetaSet)
        </div>

        <div class="editor-label">
            Área
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.area, new SelectList(new string[] { "ALMACEN", "BATCH", "CALIDAD", "DUCS", "ESTUFAS", "FORMING"
                , "HORNO", "JUMBO", "LABPT", "LABMP", "ROVING" ,"SIZING","SOX","WINDING"}))
            @Html.ValidationMessageFor(model => model.area)
        </div>

      

        <div class="editor-label">
            Nave
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nave)
            @Html.ValidationMessageFor(model => model.nave)
        </div>

        <div class="editor-label">
            No. de preguntas
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.otro)
            @Html.ValidationMessageFor(model => model.otro)
        </div>

             @{var fecha = DateTime.Now;}
        <div class="editor-field">
            
           <input type="hidden" name="incremento" value="@fecha">
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    <a href="~/Tarjeta/">Regresar</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
