﻿@model Sesiones.nombresTarjetasSet

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_layout12.cshtml";
}

<h2>Detalles</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>nombresTarjetasSet</legend>

        <div class="fuerte">
            @Html.LabelFor(model => model.idTarjeta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idTarjeta)
            @Html.ValidationMessageFor(model => model.idTarjeta)
        </div>

        <div class="fuerte">
            @Html.LabelFor(model => model.nombreTarjetaSet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreTarjetaSet)
            @Html.ValidationMessageFor(model => model.nombreTarjetaSet)
        </div>

        <div class="fuerte">
            @Html.LabelFor(model => model.area)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.area)
            @Html.ValidationMessageFor(model => model.area)
        </div>

        <div class="fuerte">
            @Html.LabelFor(model => model.nave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nave)
            @Html.ValidationMessageFor(model => model.nave)
        </div>

        <div class="fuerte">
            No de preguntas
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.otro)
            @Html.ValidationMessageFor(model => model.otro)
        </div>

        <div class="fuerte">
            Fecha de modificación
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.incremento)
            @Html.ValidationMessageFor(model => model.incremento)
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Editar", "Editar", new { id = Model.idTarjeta }) |
   
    <a href="~/Tarjeta/">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
