﻿@model Sesiones.nombresTarjetasSet

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_layout12.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>nombresTarjetasSet</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTarjeta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idTarjeta)
            @Html.ValidationMessageFor(model => model.idTarjeta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombreTarjetaSet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreTarjetaSet)
            @Html.ValidationMessageFor(model => model.nombreTarjetaSet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.area)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.area)
            @Html.ValidationMessageFor(model => model.area)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nave)
            @Html.ValidationMessageFor(model => model.nave)
        </div>
        <div class="editor-label">
            No. de Preguntas
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.otro)
            @Html.ValidationMessageFor(model => model.otro)
        </div>
       @{
    var fecha = DateTime.Now;
       }

        <div class="editor-field">
            <input type="hidden" name="incremento" value="@fecha">
        </div>

      

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    <a href="~/Tarjeta/">Regresar</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
