﻿@model Sesiones.nombresTarjetasSet

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_layout12.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de querer eliminar esta tarjeta?</h3>
<fieldset>
    <legend>TARJETA: </legend>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.idTarjeta):
    </div>
    <div class="rojos">
        @Html.DisplayFor(model => model.idTarjeta)
    </div>

    <div class="fuerte3">
         Nombre Tarjeta:
    </div>
    <div class="verdes">
        @Html.DisplayFor(model => model.nombreTarjetaSet)
    </div>

    <div class="fuerte3">
         Area:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.area)
    </div>

    <div class="fuerte3">
         Nave:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nave)
    </div>

    <div class="fuerte3">
         No.Preguntas:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.otro)
    </div>
    <!--
    <div class="fuerte3">
         @*Html.DisplayNameFor(model => model.incremento)*@
    </div>
    <div class="display-field">
        @*Html.DisplayFor(model => model.incremento)*@
    </div>-->
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        <a href="~/Tarjeta/">Regresar</a>

    </p>
}
