﻿@model IEnumerable<Sesiones.nombresTarjetasSet>

@{
    ViewBag.Title = "Index12";
    Layout = "~/Views/Shared/_layout12.cshtml";
}

<h2>LISTADO DE TARJETAS QUE SE REPARTEN EN CALENDARIOS</h2>
    @using (Html.BeginForm())
    {
        <p>Buscar por tarjeta</p>
        <input type="text" name="tarjeta" value="@ViewBag.tarjeta">
        <input type="button" value="Filtrar"/>
    }
<p>
    @Html.ActionLink("Nueva Tarjeta", "Crear")
</p>
<table>
    <tr class="tituloColumna">
        <th>
            <strong>ID</strong>
        </th>
        <th>
            <strong> Nombre </strong>
        </th>
        <th>
            <strong>  Area</strong>
        </th>
        <th>
            <strong>   Nave</strong>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreTarjetaSet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nave)
        </td>
     
        <td>
            @Html.ActionLink("Editar", "Editar", new {  id=item.idTarjeta }) |
            @Html.ActionLink("Detalles", "Detalles", new { id = item.idTarjeta }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idTarjeta })
        </td>
    </tr>
}

</table>
