﻿@model Sesiones.CalendarioHorno

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout12.cshtml";

    
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CalendarioHorno</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechalpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechalpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arealpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arealpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mesLPA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mesLPA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.añoLPA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.añoLPA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nocontrol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nocontrol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.participacionlpa4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.participacionlpa4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParticipacionTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipacionTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PorcentajeParticipacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PorcentajeParticipacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
