﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - LPA~MODEL</title>
        <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
   
    <body>
        <header>
          
    </header>
        @{
            
            string[] areas = new string[] { "FORMING", "ROVING", "BATCH", "HORNO", "SIZING", "TECNICOS", "ALMACEN", "OTROSCOACHES", "SUPERVISORES", "EMPLEADOS", "NLT" };
        }

        <div class="content-wrapper7">
           
               
            <div class="myoc">
                <img src="~/Images/myoc.png" />
           <div class="menu3"> @Html.Partial("menu")</div>
           
                </div>
        </div>
        

        <div class="content-wrapper5">


            @RenderSection("featured", required: false)
            <div class="content-wrapper41">


                <div class="content-wrapper62">
                    @RenderBody()
                </div>

            </div>
        </div>
        <footer class="">
            <div>
                <div>
                    <p>&copy; @DateTime.Now.Year - LPA'S    </p>
                </div>
            </div>
        </footer>
       

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
