﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - LPA~MODEL</title>
    <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header></header>
    @{

        string[] areas = new string[] { "FORMING", "ROVING", "BATCH", "HORNO", "SIZING", "TECNICOS", "ALMACEN", "OTROSCOACHES", "SUPERVISORES", "EMPLEADOS", "NLT" };
    }

    <div class="amarillo">
        @Html.Partial("menu")
        <br />
    </div>
    <div class="content">

    </div>
    @{
        string wrapper="";
    
    if (ViewBag.area == "SUPERVISORES")
    {
        wrapper = "content-wrapper2";
    }
    else
    {
        wrapper = "content-wrapper3";
        }
    } 
    <div id="body">

        @RenderSection("featured", required: false)
        <section class="@wrapper">



            @RenderBody()

        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - LPA'S    </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
