﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - LPA~MODEL</title>
    <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.8.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-ui-1-8-2-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/menu_m1_scr.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/menu_dom.js")"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div class="content-wrapperTOP">

            <p style="margin-left:80%">FECHA: @DateTime.Now<p>

        </div>
        <div class="content-wrapperTOP2">


            


        </div>

    </header>
    <span class="pantherLPA"><img src="~/Images/images/panther-peak2.png" /></span>
 <div class="content">

    </div>
  

        @RenderSection("featured", required: false)
    <div class="content-wrapper5 ">
        <div class="myoc"><img src="~/Images/myoc.png" /></div>

        <div class="content-wrapper4 ">

            <div class="menu2">
                
                LPA
            </div>

        </div>
        <div class="content-wrapper3">
            @RenderBody()



        </div>
    </div>

        <footer>
            <div>
                <div>
                    <p>&copy; @DateTime.Now.Year - LPA'S    </p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
