﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - LPA~MODEL</title>

    <link href="~/Content/Site3.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{var w = "";}
    @if (ViewBag.area == "SUPERVISORES") {
        w = "content-wrapper2";
    
        }
    else
    {
        w = "content-wrapper1";
            }
            <section id="@w">
                @{
        string[] areas = new string[] { "FORMING", "ROVING", "BATCH", "HORNO", "SIZING", "TECNICOS", "ALMACEN", "OTROSCOACHES", "SUPERVISORES", "EMPLEADOS", "NLT" };
                }
                @RenderBody()
            </section>



</body>
</html>