
<!--<script type="text/javascript" src="./images/menu_m1_scr.js"></script>-->
<div style="text-align:center">
    <script type="text/javascript" src="@Url.Content("/Scripts/menu_m1_scr.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/menu_dom.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.8.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-ui-1-8-2-min.js")"></script>


    <div id="menubar_m1" style="text-align:center">
        <script type="text/javascript">
<!--
// --------------------------
// Add items to the menu here
// --------------------------
addMenuItem ("INICIO","@Url.Content("~/participacion/Inicio")","",null,"");
var e_1=addTopLevelMenu("BASE DE DATOS","","",";s:BASE DE DATOS");
var e_2=addTopLevelMenu("CALENDARIOS","","",";h:bold");
var e_3=addTopLevelMenu("USUARIOS","","","");
var e_4=addTopLevelMenu("TARJETAS","","","");
var e_5=addTopLevelMenu("REPORTES","","","");
var e_6=addTopLevelMenu("SALIR","","","");
addMenuItem("GENERAR BD  ", "@Url.Content("~/Excel/Exportar")", "", e_1, ";c:#400000;s:GENERAR BD");
addMenuItem("VISUALIZAR BD", "@Url.Content("~/participacion/")", "", e_1, ";s:VISUALIZAR BD");
addMenuItem("NUEVO   ", "@Url.Content("~/participacion/nuevoCalendario")", "", e_2, ";s:NUEVO CALENDARIO;p:#80ff00");
addMenuItem("MODIFICAR", "@Url.Content("~/busqueda3/busqueda3")", "", e_2, "");
            addMenuItem("ELIMINAR", "@Url.Content("~/eliminarCalendarios")", "", e_2, "");
            addMenuItem("VISUALIZAR", "@Url.Content("~/CALENDARIOSPDF/Index")", "", e_2, "");
            addMenuItem ("DAR DE ALTA","@Url.Content("~/participacion/createusuario")","",e_3,"");
            addMenuItem ("MODIFICAR","@Url.Content("~/participacion/busqueda")","",e_3,"");
            addMenuItem("VER LISTA", "@Url.Content("~/participacion/")", "", e_3, "");
            addMenuItem("MANAGER", "@Url.Content("~/Administradores/")", "", e_3, "");
//addMenuItem ("ELIMINAR","ELIMINAR","",e_3,"");
            addMenuItem ("NUEVA TARJETA","@Url.Content("~/tarjeta/crear")","",e_4,"");
          //  addMenuItem ("ELIMINAR","@Url.Content("~/tarjeta/busquedatarjeta")","",e_4,"");
            addMenuItem ("MODIFICAR","@Url.Content("~/tarjeta/busquedatarjeta")","",e_4,"");
            addMenuItem ("VER LISTA","@Url.Content("~/tarjeta/")","",e_4,"");
            addMenuItem ("CALENDARIOS","@Url.Content("~/Excel/")","",e_5,"");
            addMenuItem ("OTROS","@Url.Content("~/Excel/EXPORTAREXCEL")","",e_5,"");
addMenuItem ("SALIR","@Url.Content("~/participacion/logout")","",e_6,"");
//addMenuItem ("CONTACTO","","",e_6,"");
//-->
        </script>


        <noscript>
            <a href="menu.php">INICIO</a> |
            <a href="nuevo.php">NUEVO</a> |
            <a href="modificar.php">MODIFICAR</a> |
            <a href="eliminar.php">ELIMINAR</a> |
            <a href="visualizar.php">VISUALIZAR</a> |
            <a href="ALTA.php">DAR DE ALTA</a> |
            <a href="MODIFICAR.php">MODIFICAR</a> |
            <a href="CONSULTAR.php">CONSULTAR</a> |
            <a href="ELIMINARphp">ELIMINAR</a> |
            <a href="crearTarjetasConNoCampos.php">DAR DE ALTA</a> |
        </noscript>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>