﻿@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Home/menu.cshtml";
}

<h2></h2>
@if (Session["LogedTableFullName"] != null) 
{ 
    <text>
        BIENVENIDO: <br/> @Session["LogedTableFullName"].ToString();
        <br/><br />
    </text>
}
