﻿@model Sesiones.Humano

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Humano</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ojos)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ojos)
                @Html.ValidationMessageFor(model => model.ojos)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.nariz)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nariz)
                @Html.ValidationMessageFor(model => model.nariz)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.boca)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.boca)
                @Html.ValidationMessageFor(model => model.boca)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
