﻿@model Sesiones.Models.areaFecha2
@{
    ViewBag.Title = "dirige";
    Layout = "~/Views/Home/menu.cshtml";
}

<h2>dirige</h2>


<span>@Model.area</span><br/>
<span>@Model.año</span><br/>
<span>@Model.mes</span>