﻿

@{
    ViewBag.Title = "NUEVO CALENDARIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EJEMPLO1</h2>
<form method="POST">
    ELIGE EL MES, SOLO TE TOMARÁ EL MES NO TE PREOCUPES POR EL DÍA
    <br>
    <input type="month" name="mes" required>
    <br>
    ELIGE EL AREA:
    <br>
    <select name="area" required>
        <option>FORMING</option>
        <option>ROVING</option>
        <option>BATCH</option>
        <option>SIZING</option>
        <option>HORNO</option>
        <option>TECNICOS</option>
        <option>ALMACEN</option>
        <option>OTROSCOACHES</option>
        <option>EMPLEADOS</option>
        <option>SUPERVISORES</option>
        <option>NLT</option>
    </select>
    <br/><br/>
    <input type="submit" value="Enviar MES">
</form>
