﻿@{
    ViewBag.Title = "ENVIOPOST";
}
@model Sesiones.Models.Persona
<h2>ENVIOPOST</h2>

@using (Html.BeginForm("ObjectReceivedInputs", "Home", FormMethod.Post))
{ 
 @Html.LabelFor(m=>m.Id);
 @Html.TextBoxFor(m => m.Id);
 @Html.LabelFor(m => m.Nombre);
 @Html.TextBoxFor(m => m.Nombre);
 @Html.LabelFor(m=>m.Edad);
 @Html.TextBoxFor(m=>m.Edad);
 @Html.LabelFor(m=>m.Ciudad);
 @Html.TextBoxFor(m => m.Ciudad);   
 @Html.LabelFor(m=>m.CodigoPostal);
 @Html.TextBoxFor(m => m.CodigoPostal);
 @Html.LabelFor(m => m.Provincia);
 @Html.TextBoxFor(m => m.Provincia);      
 <br/>    
 <input type="submit" value="enviar">
}