﻿@{
    ViewBag.Title = "ENVIOPOST2";
}

<h2>ENVIOPOST2</h2>
@model Sesiones.Models.areaFechaLPA

@using (Html.BeginForm("ObjetoRecibeInputs", "Home", FormMethod.Post))
{ 
    @Html.LabelFor(m=>m.fecha);
    @Html.TextBoxFor(m => m.fecha); 
    @Html.LabelFor(m => m.area); 
    @Html.TextBoxFor(m => m.area);
 
    <br/><br/>
    <input type="submit" value="enviar" />
}