﻿@model IEnumerable<Sesiones.Humano>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>humano</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ojos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nariz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.boca)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ojos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nariz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.boca)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
