﻿
@{
    ViewBag.Title = "Home Page";
    Layout = null;
    var hola = "Mayo";
    hola.ToLower();
}
@if (User.IsInRole("developer") )
{
    <h1> HOLA Desarrollador</h1>
}
@if (User.IsInRole("admin"))
{
    <h1> HOLA Administrador</h1>
}
 
@{
    if (Session["Username"] != null)
    { 
    <H1>HI @(Session["Username"].ToString())</H1>
    } 
}

<table style="border:inset">
    <tr><th>PRECIO</th></tr>
@for (int i = 1; i < 5; i++) 
{ 
    <tr><td>PRECIO @i</td></tr>   
    <tr><td> @i</td></tr>
}
    EL MES ES: @hola
    
</table>
