﻿@model Sesiones.Models.areaFecha2
<!--<script type="text/javascript" src="./images/menu_m1_scr.js"></script>-->
<div style="text-align:center">
    <script type="text/javascript" src="@Url.Content("/Scripts/menu_m1_scr.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/menu_dom.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.8.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-ui-1-8-2-min.js")"></script>


    <div id="menubar_m1" style="text-align:center">
        <script type="text/javascript">
<!--
// --------------------------
// Add items to the menu here
// --------------------------
addMenuItem ("INICIO","./Inicio","",null,"");
var e_1=addTopLevelMenu("BASE DE DATOS","","",";s:BASE DE DATOS");
var e_2=addTopLevelMenu("CALENDARIOS","","",";h:bold");
var e_3=addTopLevelMenu("USUARIOS","","","");
var e_4=addTopLevelMenu("TARJETAS","","","");
var e_5=addTopLevelMenu("REPORTES","","","");
var e_6=addTopLevelMenu("SALIR","","","");
addMenuItem("GENERAR BD <img src='./Scripts/menu_m1_0.gif'> ", "", "", e_1, ";c:#400000;s:GENERAR BD");
addMenuItem("VISUALIZAR BD", "participacion", "", e_1, ";s:VISUALIZAR BD");
addMenuItem("NUEVO <img src='./Scripts/menu_m1_1.gif'>  ", "nuevo", "", e_2, ";s:NUEVO CALENDARIO;p:#80ff00");
addMenuItem ("MODIFICAR","modificar","",e_2,"");
addMenuItem ("ELIMINAR","eliminar","",e_2,"");
addMenuItem("VISUALIZAR", "VISUALIZAR", "", e_2, "");
addMenuItem ("DAR DE ALTA","../participacion/create","",e_3,"");
addMenuItem ("MODIFICAR","MODIFICAR","",e_3,"");
addMenuItem("CONSULTAR", "../participacion", "", e_3, "");
addMenuItem ("ELIMINAR","ELIMINAR","",e_3,"");
addMenuItem ("DAR DE ALTA","crearTarjetasConNoCampos","",e_4,"");
addMenuItem ("ELIMINAR","","",e_4,"");
addMenuItem ("MODIFICAR","","",e_4,"");
addMenuItem ("CONSULTAR","","",e_4,"");
addMenuItem ("VER REPORTES","","",e_5,"");
addMenuItem ("VER AREAS","","",e_5,"");
addMenuItem ("SALIR","","",e_6,"");
addMenuItem ("CONTACTO","","",e_6,"");
//-->
        </script>


        <noscript>
            <a href="menu.php">INICIO</a> |
            <a href="nuevo.php">NUEVO</a> |
            <a href="modificar.php">MODIFICAR</a> |
            <a href="eliminar.php">ELIMINAR</a> |
            <a href="visualizar.php">VISUALIZAR</a> |
            <a href="ALTA.php">DAR DE ALTA</a> |
            <a href="MODIFICAR.php">MODIFICAR</a> |
            <a href="CONSULTAR.php">CONSULTAR</a> |
            <a href="ELIMINARphp">ELIMINAR</a> |
            <a href="crearTarjetasConNoCampos.php">DAR DE ALTA</a> |
        </noscript>
    </div>

    @RenderBody()

    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
