﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="wrapper">





    <!--WRAPPER-->
    <div id="wrapper">

        <!--SLIDE-IN ICONS-->
        <div class="user-icon"></div>
        <div class="pass-icon"></div>
        <div class="control-icon"></div>
        <!--END SLIDE-IN ICONS-->
        <!--LOGIN FORM-->
        <form name="login-form" class="login-form" action="validacionusuarios.php" method="POST">
            <span class="panther1"><img src="Tarjeta/images/panther-peak.png" width="233" height="142" /></span>
            <!--HEADER-->
            <div class="header">
                <!--TITLE-->
                <h1>Ingresar</h1>
                <!--END TITLE-->
                <!--DESCRIPTION--><span>Ingresar No. de Control, usuario y contraseña para poder realizar tu LPA</span>
            </div>
            <!--END HEADER-->
            <!--CONTENT-->
            <div class="content">
                <!--No.control--><input name="control" type="text" class="input control" required placeholder="Número de Control" value="control" onfocus="this.value=''" /><!--No.Control-->
                <!--USERNAME--><input name="usuario" type="text" class="input username" required value="usuario" placeholder="Nombre de Usuario" onfocus="this.value=''" /><!--END USERNAME-->
                <!--PASSWORD--><input name="password" type="password" class="input password" required value="Password" onfocus="this.value=''" /><!--END PASSWORD-->
            </div>
            <!--END CONTENT-->
            <?php $fecha=date('d');?>
            <!--FOOTER-->
            <div class="footer">
                <!-- FECHA--><input type="hidden" name="fecha" value="" />
                <!--LOGIN BUTTON--><input type="submit" name="submit" value="Ingreso" class="button" /><!--END LOGIN BUTTON-->
                <a href="Usuarios/ALTA.php"><input name="button" type="button" class="register" formaction="Usuarios/ALTAS.php" value="Registro" /> </a>

                <!--END REGISTER BUTTON-->
            </div>
            <!--END FOOTER-->

        </form>
        <!--END LOGIN FORM-->

    </div>
    <!--END WRAPPER-->
    <!--GRADIENT--><div class="panther1"></div>

    <!--END GRADIENT-->
    </section>
    