﻿@model Sesiones.Models.LoginModel
@{
    ViewBag.Title = "MiLogin2";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="rojo"><h2>MiLogin2</h2></section>

<section class="login-form">

    <h2>FORMULARIO  INGRESO</h2>
  <!--LOGIN FORM-->
   @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) { 
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Ingresar DATOS para realizar LPA</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li></li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <br/>
            <input type="submit" value="Iniciar Sesión" class="register">
        </fieldset>
        <p>
            @Html.ActionLink("Regístrese", "Register") si no tiene ninguna cuenta.
        </p>
        }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


