﻿@{
    ViewBag.Title = "ObjetoRecibeInputs";
}
@model String
<h2>ObjetoRecibeInputs</h2>

@{
    int guion = Model.IndexOf('-');
    var id = Model.Substring(0, guion).Trim();
    String nombre = Model.Substring(guion + 1, Model.Length - id.Length - 1).Trim();
    int tamanio = Model.Length;
    
    <table>
        <tr>
            <td>@id</td>
            <td>@nombre</td>
            <td>@tamanio</td>
        </tr>
    </table>
    
    
}