﻿@{
    ViewBag.Title = "ObjectReceivedInputs";
}

@model String
@{
<h2>ObjectReceivedInputs</h2>
<br/>
<br />
    int guion = Model.IndexOf('-'); //Localiza la posicion del guion, aqui es igual a 1
    var id = Model.Substring(0, guion).Trim(); //Asigna a id del Modelo String recogido, de la posicion 0 a guion(en este caso 
    //el valor de guion es 1 y con el método Trim quitamos los espacios en blanco del inicio y final de cadena)/*
    String nombre = Model.Substring(guion + 1, Model.Length - id.Length - 1).Trim();
    int tamaño = Model.Length;
    // Ahora creamos un string-> nombre, del mismo modelo pero ahora empezará de una posición despues del guion hasta 2
     //...... el tamaño del modelo- el tamaño del id(1) -1 ==== 4-1-1=2     
     // siendo el id:    1
     // siendo el nombre:wd /*
<table>
    <tr>
        <td>@nombre</td>
    <tr>
    <tr>
        <td>@tamaño</td>
    <tr>
    <tr>
        <td></td>
    <tr>
</table>
    } 