﻿@model IEnumerable<Sesiones.PARTICIPACIONBASE>

@{
    Layout = null;

    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>participacion</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create",new{@class="CSSTableGenerator"})
    </p>
    <table class="CSSTableGenerator" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nocontrol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APPAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APMAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AREA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PUESTO_GENERAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRUPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUPERVISOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LIDER_AREA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRECUENCIA)
            </th>
            
              @*  @Html.DisplayNameFor(model => model.PARTICIPACION)*@
                
                <th>
                    @Html.DisplayNameFor(model => model.IDUSUARIO)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nocontrol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APPAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APMAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CAPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AREA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PUESTO_GENERAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GRUPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUPERVISOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LIDER_AREA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FRECUENCIA)
                </td>
                
                   @* @Html.DisplayFor(modelItem => item.PARTICIPACION) *@
                
                <td>
                    @Html.DisplayFor(modelItem => item.IDUSUARIO)
                </td>
                <td>
                    <!--
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        -->
                </td>
            </tr>
        }

        </table>
    </body>
    </html>
