﻿@model Sesiones.Models.areaFecha2
    @{
    ViewBag.Title = "visualizar";
    Layout = "~/Views/Home/menu.cshtml";
    }

<h2>Visualizar</h2>
<div class="field-validation-valid">
    @using (Html.BeginForm("dirige", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <img src="~/Images/images/IMA/7.png" />
            
            <legend>INGRESE LOS DATOS QUE SE LE PIDEN</legend>
            <!--FECHA-->
            <br />
            @Html.LabelFor(m => m.mes)<br />
            @*Html.DropDownListFor(m => m.mes, new SelectList(new string[] { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" }))"*@
            @Html.TextBoxFor(m=>m.mes);
            <span>|</span>
            @Html.TextBoxFor(m=>m.año);
            @*Html.DropDownListFor(m => m.año, new SelectList(new string[] { "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024", "2025" }))"*@
            @Html.ValidationMessageFor(m => m.año)
            <br /><br />
            <!--AREA-->
            @Html.LabelFor(m => m.area)<br />
            @*"Html.DropDownListFor(m => m.area, new SelectList(new string[] { "FORMING", "ROVING", "BATCH", "HORNO", "SIZING", "TECNICOS", "OTROSCOACHES", "SUPERVISORES", "EMPLEADOS", "NLT" })) *@
           
            @Html.TextBoxFor(m=>m.area);
             @Html.ValidationMessageFor(m => m.area)
            <br />

            <input type="submit" value="Enviar" />
        </fieldset>

    }

</div>
