﻿@model Sesiones.PRODUCTOSGENERAL2

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Nuevo Producto</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PRODUCTOSGENERAL2</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRODUCTO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRODUCTO)
            @Html.ValidationMessageFor(model => model.PRODUCTO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AREA)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(m => m.AREA, new SelectList(new string[] { "ELIGE EL AREA DEL PRODUCTO....","ALMACEN","BATCH", "CALIDAD",
       "DUCS","ESTUFAS", "FORMING", "HORNO","JUMBO","LABMP", "LABPT", "MANTENIMIENTO", "SIZING", "NLT", "ROVING", "SIZING","WINDING" }))

            @Html.ValidationMessageFor(model => model.AREA)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
