﻿@model Sesiones.PRODUCTOSGENERAL2

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de querer eliminar este producto?</h3>
<fieldset>
    <legend>PRODUCTOSGENERAL2</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRODUCTO)
    </div>
    x
    <div class="display-label">
         @Html.DisplayNameFor(model => model.AREA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AREA)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a lista", "Index")
    </p>
}
