﻿@model Sesiones.registroUsuario

@{
    ViewBag.Title = "Create";
    var fecha = DateTime.Now;
}

<h2>Nuevo Usuario</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>registroUsuario</legend>

        <div class="fuerte">
            No. Control
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nocontrol)
            @Html.ValidationMessageFor(model => model.nocontrol)
        </div>

        <div class="fuerte">
            Nombre:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>
        <input type="hidden" value="@fecha" name="fechaAlta">
        <div class="fuerte">
            Area:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.area)
            @Html.ValidationMessageFor(model => model.area)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
