﻿@model Sesiones.registroUsuario

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de querer eliminar este registro?</h3>
<fieldset>
    <legend>registroUsuario</legend>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.nocontrol)
    </div>
    <div class="rojos">
        @Html.DisplayFor(model => model.nocontrol)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="verdes">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.fechaAlta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaAlta)
    </div>

    <div class="fuerte3">
         @Html.DisplayNameFor(model => model.area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.area)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
