﻿@model Sesiones.registroUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>registroUsuario</legend>

    <div class="fuerte">
         @Html.DisplayNameFor(model => model.nocontrol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nocontrol)
    </div>
    <div class="fuerte">
        @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="fuerte">
         @Html.DisplayNameFor(model => model.fechaAlta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaAlta)
    </div>

    <div class="fuerte">
         @Html.DisplayNameFor(model => model.area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.area)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
