﻿@model IEnumerable<Sesiones.registroUsuario>

@{
    ViewBag.Title = "Registro";
   
}

<h2>Lista de Usuarios</h2>

<p class="rojos">
    @Html.ActionLink("Nuevo registro", "Create")
</p>
<table>
    <tr class="amarillo">
        <th>
            #
        </th>
        <th>
            Nombre
        </th>
        <th>
            Fecha Alta
        </th>
        <th>
            Area
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="fondoBlanco">
        <td>
            @Html.DisplayFor(modelItem => item.nocontrol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
