﻿@model IEnumerable<Sesiones.PARTICIPACIONB>

@{
    ViewBag.Title = "crearCalendarios";
    Layout = "~/Views/Shared/estilos.cshtml";   
}
<!--El número de registros de tarjetas asignables es: @*ViewBag.GENERAL*@-->
<!--Suma DE FRECUENCIAS= @*ViewBag.sumaFrecuencias*@-->
<!--ultima area=@*ViewBag.ultimaAREA*@-->
<!--ultima tarjeta=@*ViewBag.ultimaTARJETA*@-->
<!--ultima ID=@*ViewBag.ultimaIDTARJETA*@-->


<table class="letra" >
  

    @{
    var ML = ViewBag.mesLetras2;

    string color = "";
    var area = ViewBag.area;


    var a = 0;
    var i = 0;
    string[] tarjetas = ViewBag.Tarjetas;//Todas las tarjetas del area
    var tarjetasFinal = ViewBag.final;//Todas las tarjetas del area
    var tarjetasFinal2 = ViewBag.final2;//Todas las tarjetas del area
    var tarjetasFinal3 = ViewBag.final3;//Todas las tarjetas del area
    var tarjetasFinal4 = ViewBag.final4;//Todas las tarjetas del area
    var tarjetasFinal5 = ViewBag.final5;//Todas las tarjetas del area
    var tarjetasFinal6 = ViewBag.final6;//Todas las tarjetas del area
    var tarjetasFinal7 = ViewBag.final7;//Todas las tarjetas del area
    var tarjetasFinal8 = ViewBag.final8;//Todas las tarjetas del area


    var fechas = ViewBag.fechas;
    var fechas2 = ViewBag.fechas2;
    var fechas3 = ViewBag.fechas3;
    var fechas4 = ViewBag.fechas4;
    var fechas5 = ViewBag.fechas5;
    var fechas6 = ViewBag.fechas6;
    var fechas7 = ViewBag.fechas7;
    var fechas8 = ViewBag.fechas8;

    //AREAS
    var areat = ViewBag.areat;
    var areat2 = ViewBag.areat2;
    var areat3 = ViewBag.areat3;
    var areat4 = ViewBag.areat4;
    var areat5 = ViewBag.areat5;
    var areat6 = ViewBag.areat6;
    var areat7 = ViewBag.areat7;
    var areat8 = ViewBag.areat8;

    var APPAT = ViewBag.APPAT;
    string[] control = ViewBag.nocontrol;

    string[] nombres = ViewBag.nombres;//Todas las nombres segun post

    //foreach de pruebas
    var listaG = ViewBag.participacionGeneral;
    string fecha;
    string fecha2;
    string fecha3;
    string fecha4;

    var titulo = 0;
    var modulo = 22;
    foreach (var item in nombres)
    {
        titulo = a;
        string letraNombre1="";
        string letralpauno="";
        string letracontroluno = "";

        if (ViewBag.area == "BATCH" || ViewBag.area == "HORNO" || ViewBag.area == "SIZING")
        {
            letraNombre1 = "letraNombreHBS";
            letralpauno = "letralpaHBS";
            letracontroluno = "letralpaHBS";
        }

        else if (ViewBag.area == "SUPERVISORES")
        {
            letraNombre1 = "letraNombreSUP";
            letralpauno = "letralpaSUP";
            letracontroluno = "letralpaSUP";
        }
        else 
        {
            letraNombre1 = "letraNombre1";
            letralpauno = "letralpauno";
            letracontroluno = "letralpauno";
        }

        if (titulo % 27 == 0 )
        {
            //<tr><td><h4>Calendario @area  </h4></td></tr>
            <tr><td colspan="6" class="titulo"><strong>CALENDARIO @area @ViewBag.mesLetras @ViewBag.Año</strong></td></tr>
            <tr class="tituloColumna">
                <!-- <th>
                     ID
                 </th>-->
                <td id="@letracontroluno">
                    #
                </td>
                <td id="@letraNombre1">
                    NOMBRE
                </td>
                <td id="@letralpauno">
                    LPA1
                </td>
                <td id="@letralpauno">
                    LPA2
                </td>
                <td id="@letralpauno">
                    LPA3
                </td>
                <td id="@letralpauno">
                    LPA4
                </td>
                                @if (ViewBag.area == "SUPERVISORES")
                {
                    <td id="@letralpauno" >
                        LPA5
                    </td>
                    <td id="@letralpauno">
                        LPA6
                    </td>
                    <td id="@letralpauno">
                        LPA7
                    </td>
                    <td id="@letralpauno">
                        LPA8
                    </td>
                }


            </tr>
        }

        var ML2 = ViewBag.mesLetras2;
        var ML3 = ViewBag.mesLetras2;
        var ML4 = ViewBag.mesLetras2;

        if (a % 2 == 0)
        { color = "negro"; }
        else
        {
            color = "dos";
        }


            <tr style="border:1px">
                
                <td id="@letracontroluno" class="@color">@control[a]</td>
                <td id="@letraNombre1" class="@color">@nombres[a] @APPAT[a]</td>
                <td id="@letralpauno" class="@color" >@tarjetasFinal[a] <br />fecha: @fechas[a] @ViewBag.mesLetras2 <br /> @areat[a]</td>
                @{ 
                //Esto es para comprobar si hay registro o no, si lo hay imprime fecha en el arreglo(antes de fechas)            
                if(tarjetasFinal2[a]!=" "){
                    fecha2="fecha:";
                    
                    }else{
                        
                    fecha2=" ";
                    ML2=" ";
                    }

                   if(tarjetasFinal3[a]!=" "){
                    fecha3="fecha:";
                    }
                   else
                   {
                   fecha3=" ";
                   ML3=" ";
                   }
                    if(tarjetasFinal4[a]!=" "){
                    fecha4="fecha:";
                    }
                   else
                   {

                       fecha4 = " ";
                       ML4 = " ";
                   }
                   
                }
                <td id="@letralpauno" class="@color">@tarjetasFinal2[a] <br />@fecha2 @fechas2[a] @ML2 <br /> @areat2[a]</td>
                
                <td id="@letralpauno" class="@color">@tarjetasFinal3[a] <br />@fecha3 @fechas3[a] @ML3 <br /> @areat3[a]</td>

                <td id="@letralpauno" class="@color">@tarjetasFinal4[a]<br />@fecha4 @fechas4[a] @ML4 <br /> @areat4[a]</td>
                @if (area == "SUPERVISORES")//Si estamos imprimiendo calendarios de SUPERVISORES.....
                    {
                        <td id="@letralpauno" class="@color" >@tarjetasFinal5[a] <br />@fecha2 @fechas5[a] @ML <br /> @areat5[a]</td>
                        <td id="@letralpauno" class="@color">@tarjetasFinal6[a]<br />@fecha2 @fechas6[a] @ML <br /> @areat6[a]</td>
                        <td id="@letralpauno" class="@color">@tarjetasFinal7[a]<br />@fecha2 @fechas7[a] @ML <br /> @areat7[a]</td>
                        <td id="@letralpauno" class="@color">@tarjetasFinal8[a]<br />@fecha2 @fechas8[a] @ML <br /> @areat8[a]</td>
                    }
                </tr>
               
                a++;
        }

    }

</table>


 @{

     @*fechas*@
 }
<!--Muestra el listado completo de las tarjetas de cada area seleccionada-->        





