﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectDependientes</title>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#cmbContinente").change(function(){
                fillCombo("cmbPaises",$("#cmbContinente").val());
            });
        });
    </script>

    <script type="text/javascript">
        function fillCombo(updateId, value) {
            $.getJSON("@Url.Action("PaisesPorContinente") "
            + "/"+ value,
                function(data){
                    $("#"+updateId).empty();
                    $.each(data,function(i,item){
                        $("#"+updateId).append("<option id='"
                            
                            +item.IdPais+"'>"+item.Nombre
                            +"</option>");
                    });
                });
        }
    </script>


</head>
<body>
    <div>
      


        <select id="cmbContinente">
            <option value="----" selected="selected" >Escoja continente...</option>
            <option value="eur">Europa</option>
            <option value="ame">America</option>
            <option value="asi">Asia</option>
            <option value="afr">Africa</option>
        </select>
        <select id="cmbPaises"></select>


        
        
          
    </div>
</body>
</html>
