﻿@model Sesiones.CalendarioTecnico

@{
    ViewBag.Title = "Tecnicos";
    Layout = "~/Views/Shared/_Layout12.cshtml";

}

<h2>Empleado de Calendario @ViewBag.Title</h2>


<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="CALENDARIOS">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nocontrol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mesLPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.añoLPA)
        </th>


    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.nocontrol)
        </td>
        <td>
            @Html.DisplayFor(item => item.nombre)
        </td>

        <td>
            @Html.DisplayFor(item => item.mesLPA)
        </td>
        <td>
            @Html.DisplayFor(item => item.añoLPA)
        </td>

    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lpa1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lpa4)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.lpa1)
        </td>
        <td>
            @Html.DisplayFor(item => item.lpa2)
        </td>
        <td>
            @Html.DisplayFor(item => item.lpa3)
        </td>
        <td>
            @Html.DisplayFor(item => item.lpa4)
        </td>
    </tr>
    <!--fechalpa  -->
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechalpa1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechalpa2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechalpa3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechalpa4)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.fechalpa1)
        </td>
        <td>
            @Html.DisplayFor(item => item.fechalpa2)
        </td>
        <td>
            @Html.DisplayFor(item => item.fechalpa3)
        </td>
        <td>
            @Html.DisplayFor(item => item.fechalpa4)
        </td>
    </tr>
    <!--Area LPA-->
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.arealpa1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arealpa2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arealpa3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arealpa4)
        </th>

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.arealpa1)
        </td>
        <td>
            @Html.DisplayFor(item => item.arealpa2)
        </td>
        <td>
            @Html.DisplayFor(item => item.arealpa3)
        </td>
        <td>
            @Html.DisplayFor(item => item.arealpa4)
        </td>

    </tr>
    <!--Area PARTICIPACION-->
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.participacionlpa1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.participacionlpa2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.participacionlpa3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.participacionlpa4)
        </th>


    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.participacionlpa1)
        </td>
        <td>
            @Html.DisplayFor(item => item.participacionlpa2)
        </td>
        <td>
            @Html.DisplayFor(item => item.participacionlpa3)
        </td>
        <td>
            @Html.DisplayFor(item => item.participacionlpa4)
        </td>

    </tr>


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParticipacionTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PorcentajeParticipacion)
        </th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.ParticipacionTotal)
        </td>
        <td>
            @Html.DisplayFor(item => item.PorcentajeParticipacion)
        </td>
        <td></td>
        <td></td>

    </tr>

    <!--EDITAR ELIMINAR ETC-->
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id })
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
