﻿@model Sesiones.POSICIONESGENERAL2

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Crer nuevo Producto</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>POSICIONESGENERAL2</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UBICACIÓN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UBICACIÓN)
            @Html.ValidationMessageFor(model => model.UBICACIÓN)
        </div>

        <!--AREA-->
        @Html.LabelFor(m => m.AREA)<br />
        @Html.DropDownListFor(m => m.AREA, new SelectList(new string[] { "ELIGE EL AREA DE LA POSICION....","ALMACEN", "CALIDAD", "ESTUFAS", "FORMING", "HORNO", "LABPT", "MANTENIMIENTO", "SIZING", "SOX", "ROVING", "WINDING" }))

        @Html.ValidationMessageFor(m => m.AREA)
        <br />
        <br />
        <br />

       
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
