﻿@model Sesiones.POSICIONESGENERAL2

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Detalles</h2>

<fieldset>
    <legend>POSICIONESGENERAL2</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UBICACIÓN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UBICACIÓN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AREA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AREA)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
