﻿@model Sesiones.POSICIONESGENERAL2

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout13.cshtml";
    
}

<h2>Editar </h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>POSICIONESGENERAL2</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.UBICACIÓN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UBICACIÓN)
            @Html.ValidationMessageFor(model => model.UBICACIÓN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AREA)
            @Html.ValidationMessageFor(model => model.AREA)
        </div>

        <p>
            <input type="submit" value="Guardar Cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
