﻿@model IEnumerable<Sesiones.POSICIONESGENERAL2>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout12.cshtml";    
    
}

<h2>LISTA DE POSICIONES, LINEAS, AREAS</h2>

<p>
    @Html.ActionLink("Nuevo Producto", "Create")
</p>
<table>
    <tr class="tituloColumna">
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBICACIÓN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AREA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBICACIÓN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AREA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
