﻿@model Sesiones.CalendarioSizing

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout13.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CalendarioSizing</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lpa1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lpa1)
            @Html.ValidationMessageFor(model => model.lpa1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lpa2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lpa2)
            @Html.ValidationMessageFor(model => model.lpa2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lpa3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lpa3)
            @Html.ValidationMessageFor(model => model.lpa3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lpa4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lpa4)
            @Html.ValidationMessageFor(model => model.lpa4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechalpa1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechalpa1)
            @Html.ValidationMessageFor(model => model.fechalpa1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechalpa2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechalpa2)
            @Html.ValidationMessageFor(model => model.fechalpa2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechalpa3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechalpa3)
            @Html.ValidationMessageFor(model => model.fechalpa3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechalpa4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechalpa4)
            @Html.ValidationMessageFor(model => model.fechalpa4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.arealpa1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.arealpa1)
            @Html.ValidationMessageFor(model => model.arealpa1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.arealpa2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.arealpa2)
            @Html.ValidationMessageFor(model => model.arealpa2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.arealpa3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.arealpa3)
            @Html.ValidationMessageFor(model => model.arealpa3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.arealpa4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.arealpa4)
            @Html.ValidationMessageFor(model => model.arealpa4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mesLPA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mesLPA)
            @Html.ValidationMessageFor(model => model.mesLPA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.añoLPA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.añoLPA)
            @Html.ValidationMessageFor(model => model.añoLPA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nocontrol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nocontrol)
            @Html.ValidationMessageFor(model => model.nocontrol)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.participacionlpa1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.participacionlpa1)
            @Html.ValidationMessageFor(model => model.participacionlpa1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.participacionlpa2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.participacionlpa2)
            @Html.ValidationMessageFor(model => model.participacionlpa2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.participacionlpa3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.participacionlpa3)
            @Html.ValidationMessageFor(model => model.participacionlpa3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.participacionlpa4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.participacionlpa4)
            @Html.ValidationMessageFor(model => model.participacionlpa4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParticipacionTotal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParticipacionTotal)
            @Html.ValidationMessageFor(model => model.ParticipacionTotal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PorcentajeParticipacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PorcentajeParticipacion)
            @Html.ValidationMessageFor(model => model.PorcentajeParticipacion)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
