﻿@{
    ViewBag.Title = "EXPORTAREXCEL";
    Layout = "~/Views/Shared/_Layout13.cshtml";    
}

<h2>BD Tarjetas</h2>

@Html.ActionLink("Exportar", "ExportarTarjetas")

<h2>BD Productos</h2>
@Html.ActionLink("Exportar", "ExportarProductos")
<a href="~/Productos/"> LISTA-MODIFICAR-ELIMINAR  </a>
<h2>BD Líneas, Posiciones, Sets</h2>
@Html.ActionLink("Exportar", "ExportarPosiciones")
<a href="~/posiciones/"> LISTA-MODIFICAR-ELIMINAR </a>
<h2>BD Desviaciones</h2>
@Html.ActionLink("Exportar", "ExportarDesviaciones")
<a href="~/listaDesviaciones/">LISTA-MODIFICAR-ELIMINAR</a>
