﻿@{
    ViewBag.Title = "Exportar";
    Layout = "~/Views/Shared/_Layout13.cshtml";
}

<h2>Hallazgos, Participación</h2>

@Html.ActionLink("Exportar", "ExportarHallazgos")

<h2>Base de datos Completa</h2>
@Html.ActionLink("Exportar", "ExportarParticipacion")