﻿@model Sesiones.Models.areaFecha2
@{
    Layout = "~/Views/Shared/_Layout13.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        
        @using (Html.BeginForm("ExportData", "Excel"))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
         <fieldset> 
             
            <legend>INGRESE LOS DATOS QUE SE LE PIDEN</legend>
            <!--FECHA-->
            <br />
            @Html.LabelFor(m => m.mes)<br />
            @Html.DropDownListFor(m => m.mes, new SelectList(new string[] { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" }))
            <span>|</span>
            @Html.DropDownListFor(m => m.año, new SelectList(new string[] { "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024", "2025" }))
            @Html.ValidationMessageFor(m => m.mes)
            <br /><br />
            <!--AREA-->
            @Html.LabelFor(m => m.area)<br />
            @Html.DropDownListFor(m => m.area, new SelectList(new string[] { "FORMING", "ROVING", "BATCH", "HORNO", "SIZING", "TECNICOS","ALMACEN", "OTROSCOACHES", "SUPERVISORES", "EMPLEADOS", "NLT" }))

            @Html.ValidationMessageFor(m => m.area)
            <br />

            <input type="submit" value="Enviar" />
        </fieldset>

    }
   
        
    </div>
</body>
</html>
