﻿@{
    ViewBag.Title = "sinRegistros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br/>
<h2 class="rojos">No existen registros para esta entrada,<br/> no es posible generar archivo Excel</h2>
@Html.ActionLink("Regresar","/")
